/* Seletor de elemento */
body {
    font-family: Arial;
    background-color: #0a0a0a;
    color: white;
    margin: 0;
}

/* Seletor de ID */
#topo {
    background-color: #d60000;
    padding: 15px;
    text-align: center;
}

/* Seletor de classe */
.destaque {
    color: #00ffcc;
}

/* Pseudo-classe */
a:hover {
    color: yellow;
}

/* Outro seletor de elemento */
table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

/* Pseudo-classe adicional */
tr:nth-child(even) {
    background-color: #222;
}