body {
    font-family: Arial;
    background-color: #0a0a0a;
    color: white;
    margin: 0;
}


#topo {
    background-color: #d60000;
    padding: 15px;
    text-align: center;
}


.destaque {
    color: #00ffcc;
}


a:hover {
    color: yellow;
}

table {
    border-collapse: collapse;
    width: 60%;
    margin: 20px auto;
}

th, td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: black;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
}

body {
    text-align: center;
}

ul {
    list-style-position: inside;
    padding: 0;
}

table {
    margin: 20px auto;
}

img {
    display: block;
    margin: 20px auto;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}
